.adapt {
    margin: 10px 0;
}
.adapt-content {
    background-color: $titleTextColor;
    border-radius: 20px;
    padding: 20px 0;
    position: relative;


}
.adapt-content-slaider {
    border: solid 5px $secondColor;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 20px;
    overflow: hidden; 
    

}

.slaider-line {
    display: flex;
    transition: all ease 1s;
    
}











.adapt-content-buttons { 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.slaider-button-prev {
    margin-left: 20px;
}

.slaider-button-next {
    margin-right: 20px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }