.adapt {

}
.adapt-content {
    background-color: $titleTextColor;
    border-radius: 20px;
    padding: 20px 0;


}
.adapt-content-slaider {
    border: solid 5px $secondColor;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 20px;
    // overflow: hidden; 

}

.slaider-line {
    display: flex;
    transition: all ease 1s;
}











.adapt-content-buttons {

}