.main {

}

.main-content {
    width: 100% ;
    height: 400px;
    background-color: $secondColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.h1 {
    margin: 0px 0px 70px 0px;
    color: $primaryColot;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(8, 8, 8, 1);;


}

.main-button {
    
}
