.slaid {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}
.slaid-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;

}
.slaid-text {
    background-color: $titleTextColor;
    border-radius: 20px;
}
.h2 {
    text-align: center;
    font-size: 40px;
    color: $primaryColot;
    text-shadow: 0 0 10px rgba(8, 8, 8, 1);
}
.slaid-span {
    display: inline-block;
    margin: 30px;
    font-size: 20px;
    color: $primaryColot;
    
    

}
.slaider-p {
    display: inline-block;
    margin: 0 30px;
    font-size: 17px;
    color: $primaryColot;   


}
.slaid-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 105%;
}

.slaid-img-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;


}