.nav {

}

.nav-ul {
    display: flex;
}

.nav-li {
    display:  block;
    padding: 10px 10px;
    border: solid 2px $secondColor;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer; 
    font-size: 15px; 
    font-weight: bold;
    color: $secondColor;
}

.nav-li:hover {
    background-color: grey;
    color: $primaryColot;
}